@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.spotify-black{
  background-color: #191414;
}

.spotify-green{
  background-color: #1DB954;
}

.card {
  background-color: #2a2222;
  border-radius: 1em;
  padding: 2em 1em;
}

.align-between {
  justify-content: space-between;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.album-img {
  border-radius: 1em;
  width: 100%;
}

.play-icon {
  font-size: 3em;
}

.play-icon a {
  color: #fff;
  transition: .2s all ease-in-out;
}

.play-icon a:hover {
  color: #1DB954;
}

.mt-2 {
  margin-top: 20px;
}

.container {
  margin: 3em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

html,
body {
  background-color: #191414;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: #fff;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-bottom {
  align-content: end;
  justify-content: end;
}

.title {
  font-weight: 700;
  font-size: 1.7em;
  line-height: 1em;
}

.artist {
  font-size: .9em;
  color: gray;
}

.m-2 {
  margin: .5em;
}

.gap-1 {
  gap: 1em;
}

.gap-02 {
  gap: .3em;
}

.loader {
  border: 4px solid #999;
  border-top: 4px solid #1DB954;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

.loader-box {
  min-height: 100vh;
}

.more-button {
  background-color: #2a2222;
  padding: 0.8em 1.5em;
  border-radius: 1em;
  width: fit-content;
  transition: .2s all ease-in-out;
}

.more-button:hover{
  cursor: pointer;
  opacity: 65%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
